Downoad file vgsales.csv <a href="https://blog.sanbercode.com/wp-content/uploads/2020/05/vgsales.csv">di sini</a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import files
uploaded = files.upload()
df = pd.read_csv('vgsales.csv')
df.head()
df['Global_Sales']=False
df.groupby('Genre').mean()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<h2>Quiz 1 Preparing Data</h2>

Manipulasi data tersebut dengan menggroupkan berdasarkan Genre, kemudian ambil rata2 penjualan untuk setiap Region Kecuali Global_Sales berdasarkan kategori Genre.

In [6]:
meanscore = df.groupby('Genre').mean()
x = meanscore.index
y = meanscore['NA_Sales']
y2 = meanscore['EU_Sales']
y3 = meanscore['JP_Sales']
y4 = meanscore['Other_Sales']
ax.set_xticklabels('meanscore.index')

fig, ax = plt.subplots(figsize= (12,8))
ax.bar(x, y, width = 0.25)
ax.bar(x+0.25, y2, width = 0.25)
ax.bar(x+0.5, y3, width = 0.25)
ax.bar(x+0.75, y4, width = 0.25)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,
Action,7973.879071,2007.909929,0.264726,0.158323,0.048236,0.056508,0.528100
Adventure,11532.787714,2008.130878,0.082271,0.049868,0.040490,0.013072,0.185879
Fighting,7646.511792,2004.630383,0.263667,0.119481,0.103007,0.043255,0.529375
Misc,8561.847039,2007.258480,0.235906,0.124198,0.061967,0.043312,0.465762
Platform,6927.251693,2003.820776,0.504571,0.227573,0.147596,0.058228,0.938341
Puzzle,9627.381443,2005.243433,0.212680,0.087251,0.098471,0.021564,0.420876
Racing,7961.515612,2004.840131,0.287766,0.190865,0.045388,0.061865,0.586101
Role-Playing,8086.174731,2007.055744,0.219946,0.126384,0.236767,0.040060,0.623233
Shooter,7369.367939,2005.918877,0.444733,0.239137,0.029221,0.078389,0.791885
Simulation,8626.085352,2006.567568,0.211430,0.130773,0.073472,0.036355,0.452364
Sports,7425.026428,2005.477865,0.291283,0.160635,0.057702,0.057532,0.567319
Strategy,10071.897210,2005.599106,0.100881,0.066579,0.072628,0.016681,0.257151

Expected Output :

![image.png](attachment:image.png)

<h2>Perbandingan Kuantitatif Barplot : Grouping Visualisasi Dengan Barplot</h2>

1. Visualisasikan gambar yang tadi kita manipulasi, untuk menhasilkan visualisasi seperti di bawah ini
2. Tuliskan apa insight yang bisa kamu dapat dari visualisasi tersebut

In [0]:
meanscore = df.groupby('Genre').mean()
x = meanscore.index
y = meanscore['NA_Sales']
y2 = meanscore['EU_Sales']
y3 = meanscore['JP_Sales']
y4 = meanscore['Other_Sales']
ax.set_xticklabels('meanscore.index')

fig, ax = plt.subplots(figsize= (12,8))
ax.bar(x, y, width = 0.25)
ax.bar(x, y2, width = 0.25)
ax.bar(x, y3, width = 0.25)
ax.bar(x, y4, width = 0.25)

![image.png](attachment:image.png)

<h2>Perbandingan Kuantitatif Barplot : Stack Barplot</h2>

1. Visualisasikan gambar yang tadi kita manipulasi, untuk menhasilkan visualisasi seperti di bawah ini
2. Tuliskan apa insight yang bisa kamu dapat dari visualisasi tersebut

In [0]:
meanscore = df.groupby('Genre').mean()
x = meanscore.index
y = meanscore['NA_Sales']
y2 = meanscore['EU_Sales']
y3 = meanscore['JP_Sales']
y4 = meanscore['Other_Sales']
ax.set_xticklabels('meanscore.index')

fig, ax = plt.subplots(figsize= (12,8))
ax.bar(x, y, width = 0.8)
ax.bar(x, y2, width = 0.8)
ax.bar(x, y3, width = 0.8)
ax.bar(x, y4, width = 0.8)

![image.png](attachment:image.png)